<h2>Enter Username</h2>
<form action="/muj" method="post">
<input type="text" name="username" autocomplete="off" placeholder="enter username">
<button type="submit" name="list">Submit</button>
</form>