<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acm project</title>
</head>
<body>
    <h1>hello from the server</h1>
    <br>/hello & /world for messsages </br>
/acm & / muj for username sending to mongo</h4>
</body>
</html>